body
 .modal-body
  .image.thumbnail.col-md-4.col-sm-4.col-xs-4.pull-left
   img(src='#{row.imgpath}', style='width: 100%; height: auto;')
  .content.col-md-offset-4.col-sm-offset-4.col-xs-offset-4
   ul.content
    li 
     div.title
      h3
       b #{row.name} (#{row.year})
     div.test.pull-right
      a
       span.glyphicon.glyphicon-thumbs-up
      a
       span.glyphicon.glyphicon-thumbs-down
    li 감독: #{row.director}
    li 장르: #{row.genre1} #{row.genre2} #{row.genre3} #{row.genre4} #{row.genre5}
    li 배우: #{row.actor1} #{row.actor2} #{row.actor3} #{row.actor4} #{row.actor5}
   ul.content
    li #{row.stroy} 
 .modal-footer
   button.btn.btn-default(type='button' data-dismiss='modal') Close