body
	.modal-body
		.image.thumbnail.col-md-4.col-sm-4.col-xs-4.pull-left
			img(src='#{row.imgpath}', style='width: 100%; height: auto;')
		.content.col-md-offset-4.col-sm-offset-4.col-xs-offset-4
			ul.content
				li 
					.title
						h3
							b #{row.name} (#{row.year})
					.test.pull-right
						a.like(href='#' id = '#{row.url}')
							span.glyphicon.glyphicon-thumbs-up
						a.like_count(href='#' id = '#{row.url}') #{row.like_count}
				li 감독: #{row.director}
				li 장르: #{row.genre1} #{row.genre2} #{row.genre3} #{row.genre4} #{row.genre5}
				li 배우: #{row.actor1} #{row.actor2} #{row.actor3} #{row.actor4} #{row.actor5}
			ul.content
				li #{row.stroy} 
	.modal-footer